$blueMain: #1671d9;
$blueLight: #c9ecff;
$btnColor: #1671d9;
$thin: "Helvetica Neue 100", sans-serif;
$medium: "Helvetica Neue 300", sans-serif;
$bold: "Helvetica Neue 500", sans-serif;
$black: "Helvetica Neue 700", sans-serif;
