@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=16016,16008,15981,15991,15994,30128");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  font-display: swap;
  /* font-family: Neue-Reg; */
  font-family: "Helvetica Neue", "Inter", sans-serif;
  font-weight: 100;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background: radial-gradient(circle, #e5faff 0%, #fff1f1 55%, #fefdf8 100%);
  /* color: var(--foreground); */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:disabled {
  /* background: #e5faff; */
  opacity: 0.5;
  cursor: not-allowed;
}

li {
  list-style: none;
}
input,
select,
textarea {
  font-size: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}
/* small */
.smallContainer {
  width: 100vw;
  height: 100vh;
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.smallLog {
  position: absolute;
  width: 100%;
  left: 0;
  top: 2em;
  margin: auto;
}
.smallContainer img {
  width: 200px;
}
.smallContent {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.smallContent h1 {
  /* color: #1354dc; */
  letter-spacing: -1px;
}
@media (max-width: 1030px) {
  .app {
    display: none;
  }
  .smallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
