@import "../styles/mixins";
@import "../styles/variables";

.container {
  @include flexRegular(column, center);
  width: 85%;
  max-width: 1200px;
  margin: 5.5em auto 0 auto;
  padding: 2em 0;
  //border: 1px solid #bcc;
}
.content {
  width: 100%;
  margin: auto;
}
.top {
  @include flexRegular(column, center);
  align-items: flex-start;
  //border: 1px solid #000;
}
.tradeGrid {
  width: 95%;
  margin: 2em auto;
  @include gridRegular(2.5%);
  grid-template-columns: repeat(2, 48%);
  //grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  //grid-gap: 30px;
}

// ---- tabs
.tabsContainer {
  @include flexRegular(row, space-between);
  align-items: flex-start;
  //margin-top: 50px;
  margin: 1.5em 0;
  //width: 50%;

  background: #1b80f334;
  background: #f7f9fc;
  border-radius: 12px;
  height: 51px;
  // padding: 8px 8px 19px 8px;
  padding: 0.5em 1em;
}
.tab,
.activeTab {
  //width: 23.3%;
  margin-left: 1em;
  height: 38px;
  @include flexRegular(row, center);
  color: #475367c1;
  padding: 0.5em 1em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 8px;
  &:nth-child(1) {
    margin-left: 0 !important;
  }
}

.activeTab {
  //color: $blueMain;
  background: #fff;
  color: #000;
  //transform: translateX(100%);
  //transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 5px 3px -2px #00000005;
  //box-shadow: 0px 3px 2px -2px #0000000f;
}
