@import "../styles/mixins";
@import "../styles/variables";

.container {
  @include flexRegular(column, center);
  width: 85%;
  max-width: 1200px;
  margin: 5em auto 0 auto;
  padding: 1.5em 0;
  //border: 1px solid #bcc;
}
.content {
  width: 90%;
  margin: auto;
}
.top {
  @include flexRegular(column, center);
  h2 {
    font-size: 1.6em;
  }
}
.tradeGrid {
  width: 90%;
  margin: 2em auto;
  @include gridRegular(5.5%);
  grid-template-columns: repeat(3, 29%);
  //grid-gap: 30px;
}

// ---- tabs
.tabsContainer {
  @include flexRegular(row, center);
  //margin-top: 50px;
  margin: 1.5em auto;
  width: 80%;
  background: #1b80f334;
  border-radius: 12px;
  height: 51px;
  padding: 8px;
}
.tab,
.activeTab {
  width: 33.3%;
  height: 38px;
  @include flexRegular(row, center);
  color: #475367;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 8px;
}
.activeTab {
  //color: $blueMain;
  background: #fff;
  //transform: translateX(100%);
  //transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: ease-in-out 0.3s;
}
