@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @include flexRegular(column, center);
  width: 85%;
  max-width: 1200px;
  margin: 5em auto 0 auto;
  padding: 1.5em 0;
  // border: 1px solid #000;
}

.cardBorder {
  transition: 0.2s ease-in-out;
  margin: 2em 0;
  border-radius: 12px;
  background: //linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
    275.64deg,
    #e6d476 38.18%,
    rgba(225, 51, 166, 0.72) 105.86%
  );
  padding: 0.5px;
  margin-bottom: 1em;
  width: 45%;
  animation: gradientChange 2s ease-in-out infinite;
}

@keyframes gradientChange {
  0% {
    background: linear-gradient(
      275.64deg,
      #e6d476 38.18%,
      rgba(225, 51, 166, 0.72) 105.86%
    );
  }
  50% {
    background: linear-gradient(
      275.64deg,
      rgba(225, 51, 166, 0.72) 38.18%,
      #e6d476 105.86%
    );
  }
  100% {
    background: linear-gradient(
      275.64deg,
      #e6d476 38.18%,
      rgba(225, 51, 166, 0.72) 105.86%
    );
  }
}

.tradeCol {
  width: 45%;
  height: 100%;
  //min-height: 50vh;
  @include flexRegular(column, space-between);
  align-items: space-between;
  //border: 1px solid red;
}
// Trade box
//
.tradeBox,
.tradeBoxActive {
  transition: 0.2s ease-in-out;
  background: #fff;
  //width: 50%;
  border-radius: 12px;
  padding: 1.5em 1em 3em 1em;
}
.tradeBoxActive {
  border: 0.4px solid #a1a1aafb;
  padding: 1.5em 1em 1.5em 1em;
}

.tradeBoxes {
  transition: 0.2s ease-in-out;
  margin-top: 2em;
  @include flexRegular(row, space-between);
  align-items: center;
  border: 1px solid #d0d5dd;
  width: 100%;
}

.tradeDesc {
  padding: 1em 2em;

  border-bottom: 0.5px solid #d0d5dd;
}
.trImg {
  margin: 1em 0;
  @include flexRegular(row, center);
  img {
    border-radius: 28px;
    object-fit: cover;
    width: 100%;
    // max-width: 110px;
    max-width: 70px;
    height: 65px;
    //min-height: 90px;
    //min-height: 40px;
  }
  p {
    color: #1d2739;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.13em;
    margin-left: 0.5em;
  }
}
.tradeStatus {
  @include flexRegular(row, flex-start);
  img {
    margin-right: 0.5em;
  }
  p {
    color: #475367;

    font-weight: 400;
    font-size: 1.13em;
  }
}
.tradeTitle {
  margin: 0.8em 0;
  color: #475367ac;
  span {
    color: #1d2739;
  }
}
.tradeTxt {
  p {
    font-size: 0.98em;
    font-weight: 100;
    color: #667185;
  }
}

.tradeBreakdown {
  padding: 1.5em 2em 1em 2em;
  border-bottom: 0.5px solid #d0d5dd;
}
.breakRow {
  @include flexRegular(row, space-between);
  margin-bottom: 0.5em;
  p {
    &:nth-child(1) {
      color: #98a2b3;
    }
    &:nth-child(2) {
      color: #1d2739;
    }
  }
}
.shareBtns {
  margin-top: 1em;
  padding: 0 2em;
}
.createBtn,
.shareBtn {
  transition: 0.1s ease-in;
  margin-top: 1em;
  @include btnRegular(100%);
}
.shareBtn {
  @include flexRegular(row, center);
  img {
    margin-right: 1em;
  }
}
.backBtn,
.viewBtn {
  margin-top: 1em;
  @include btnOutline(100%);
}
//

// .balanceBox {
//   background: linear-gradient(101.93deg, #20709b 2.36%, #1e4097 100%);
//   border-radius: 6px;
//   padding: 1.2em 2em;
//   @include flexRegular(column, flex-start);
//   color: #fff;
//   width: 60%;
//   margin: 0 auto 3em auto;
//   h3 {
//     font-size: 24px;
//     font-family: "Helvetica Neue";
//   }
//   p {
//     margin-top: 10px;
//     font-size: 0.9em;
//     font-family: "Inter";
//     font-weight: 200;
//   }
// }

.balanceBox {
  border: 0.4px solid #a1a1aafb;
  border-radius: 8px;
  background: #fff;
  padding: 2em;
  margin-bottom: 2em;
  h3 {
    font-size: 2.2em;
  }
  h4 {
    margin: 1em 0;
    font-size: 1.1em;
  }
  p {
    color: #475367a5;
    font-size: 0.98em;
  }
}

//Chat Box
.chatBox {
  position: relative;
  width: 28%; //
  width: 100%;
  min-height: 80vh;

  //min-height: 70vh;
  border: 0.4px solid #a1a1aafb;
  border-radius: 8px;
  background: #fff;
}
.chatMessages {
  padding: 1.5em 0 0 0;
  width: 90%;
  height: calc(100% - 260px);
  height: 68vh;
  // height: 60vh !important;
  overflow: scroll !important;
  margin: auto;
  //background: pink;
  //@include flexRegular(row, center);
}
.messageBoxOwner {
  @include flexRegular(row, flex-end);
  align-items: flex-end;
}

.messageOwner,
.messageOther {
  width: 70%;
  padding: 1em 1em 1em 2em;
  margin-bottom: 1em;
}
.messageOwner {
  //background: lavender;
  // align-self: flex-end;
  border-radius: 8px 8px 0px 8px;
  border: 1px solid var(--primary-colors-primary-1000, #20709b);
  background: rgba(156, 198, 220, 0.2);
}
.messageOther {
  border-radius: 8px 0px 8px 8px;
  border: 1px solid #000;
  background: var(--greys-grey-100, #f4f4f5);
}
.chatInput {
  //background: pink;
  background: #fff;
  position: absolute;
  bottom: 1em;
  width: 100%;
  @include flexRegular(row, center);
  input {
    border: 0.5px solid gray;
    border-radius: 4px;
    height: 48px;
    width: 75%;
    outline: none;
    padding: 0 1em;
    //font-family: SpaceGrotesk;
    font-size: 14px;
    background: #f0f2f5;
    transition: 0.2s ease-in;

    &::placeholder {
      color: #9ca3af;
      font-size: 0.96em;
      font-family: "Inter";
      // font-family: Satoshi-Reg;
    }

    &::-ms-input-placeholder {
      /* Edge 12 -18 */
      color: #9ca3af;
      font-size: 0.96em;
      font-family: "Inter";
    }
    &:focus {
      border: 1px solid $btnColor;
    }
  }
  button {
    @include flexRegular(row, center);
    color: #fff;
    margin-left: 1.2em;
    @include btnRegular(4vw);
    background: linear-gradient(101.93deg, #20709b 2.36%, #1e4097 100%);
    background: $btnColor;
    border-radius: 4px;
  }
}
