@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @include flexRegular(column, center);
  width: 85%;
  max-width: 1200px;
  margin: 6em auto 0 auto;
  padding: 1.5em 0;
  // border: 1px solid #000;
}

.cardBorder {
  margin: 2em 0;
  border-radius: 12px;
  background: //linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(
    275.64deg,
    #e6d476 38.18%,
    rgba(225, 51, 166, 0.72) 105.86%
  );
  padding: 0.5px;
  margin-bottom: 1em;
  width: 45%;
}

//
.tradeBox {
  background: #fff;
  //width: 50%;
  border-radius: 12px;
  padding: 1.5em 1em 3em 1em;
}

.tradeDesc {
  padding: 1em 2em;

  border-bottom: 0.5px solid #d0d5dd;
}
.trImg {
  margin: 1em 0;
  @include flexRegular(row, center);
  img {
    border-radius: 28px;
    object-fit: cover;
    width: 100%;
    // max-width: 110px;
    max-width: 70px;
    height: 65px;
    //min-height: 90px;
    //min-height: 40px;
  }
  p {
    color: #1d2739;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.13em;
    margin-left: 0.5em;
  }
}
.tradeStatus {
  @include flexRegular(row, flex-start);
  img {
    margin-right: 0.5em;
  }
  p {
    color: #475367;

    font-weight: 400;
    font-size: 1.13em;
  }
}
.tradeTitle {
  margin: 0.8em 0;
  color: #475367ac;
  span {
    color: #1d2739;
  }
}
.tradeTxt {
  p {
    font-size: 0.98em;
    font-weight: 100;
    color: #667185;
  }
}

.tradeBreakdown {
  padding: 1.5em 2em 1em 2em;
  border-bottom: 0.5px solid #d0d5dd;
}
.breakRow {
  @include flexRegular(row, space-between);
  margin-bottom: 0.5em;
  p {
    &:nth-child(1) {
      color: #98a2b3;
    }
    &:nth-child(2) {
      color: #1d2739;
    }
  }
}
.shareBtns {
  margin-top: 1em;
  padding: 0 2em;
  button {
    @include btnRegular(100%);
  }
}
.createBtn,
.shareBtn {
  transition: 0.1s ease-in;
  margin-top: 1em;
  @include btnRegular(100%);
}
.shareBtn {
  @include flexRegular(row, center);
  img {
    margin-right: 1em;
  }
}
.backBtn,
.viewBtn {
  margin-top: 1em;
  @include btnOutline(100%);
}

//
