@import "../../styles/mixins";
@import "../../styles/variables";

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  background: #1712145a;
  backdrop-filter: blur(8px);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  transition: 0.1s ease-in-out;
}
.modal,
.modalLong {
  transition: 0.1s ease-in-out;
  padding: 2em 0;
  position: fixed;
  z-index: 5;
  left: 35vw;
  right: 35vw;
  width: 30vw;
  top: 12vh;
  max-width: 500px;
  background: #fff;
  border-radius: 28px;
  overflow: scroll;
}
.modalLong {
  top: 7vh;
  height: 88vh;
}
.modalContent {
  margin: 0 auto;
  //width: 90%;
}
.modalTop,
.modalTop2 {
  @include flexRegular(row, space-between);

  padding: 0 1.5em;
  p {
    color: #344054;
  }
  svg {
    cursor: pointer;
  }
}
.modalTop2 {
  border-bottom: 1px solid #d0d5dda3;
  padding-bottom: 1em;
}
.optionTitle {
  margin-right: -4em;
  font-size: 1.2em;
}
.connectedBx {
  cursor: pointer;
  background: #eef6ff;
  border-radius: 12px;
  // padding: 0.5em 1.5em;
  @include flexRegular(row, center);
  width: 151px;
  height: 40px;
  p {
    font-size: 0.9em;
    margin-left: 0.6em;
    color: #1671d9;
  }
}
.modalTrade {
  width: 90%;
  margin: 1em auto;
  h3 {
    font-size: 1em;
  }
}
.tradeOptions {
  margin: 1em 0;
  // border: 1px solid #d0d5dda3;
  @include gridRegular(3%);
  grid-template-columns: repeat(2, 47%);
}
.tradeOption {
  cursor: pointer;
  padding: 1.8em 1.4em;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 28px;
  // box-shadow: 101928;
  box-shadow: 0 10px 18px -2px rgba(16, 25, 40, 0.07);
  h4 {
    font-size: 1em;
    font-weight: 300;
  }
  p {
    margin: 0.5em 0;
    font-size: 0.82em;
    color: #98a2b3;
  }
}
.tokenOpt {
  color: #3d89df;
}
.physicalOpt {
  color: #f77a4a;
}

.digitalOpt {
  color: #dd524d;
}

.tokenTrade,
.productTrade {
  h4 {
    color: #00000097;
    text-align: center;
    font-size: 1.25em;
  }
}

// ---- tabs
.tabsContainer {
  @include flexRegular(row, center);
  //margin-top: 50px;
  margin: 10px auto;
  width: 80%;
  background: #f0f2f5;
  border-radius: 12px;
  height: 51px;
  padding: 8px;
}
.tab,
.activeTab {
  width: 50%;
  height: 38px;
  @include flexRegular(row, center);
  color: #475367;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 8px;
}
.activeTab {
  background: #fff;
  //transform: translateX(100%);
  //transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: ease-in-out 0.3s;
}

// ------ tabs

.tokenFields {
  margin: 1em 0;
}

.tkField {
  border-radius: 16px;
  border: 1px solid #d0d5dd;
  padding: 0.8em 1em 0.6em 1em;
  margin-bottom: 0.5em;
}
.tkTop {
  p {
    font-size: 0.9em;
    color: #667185;
  }
  //margin-bottom: -5px;
}
.tkBody {
  //  border: 1px solid #000;
  width: 100%;
  margin: 1em 0;
  @include gridRegular(3.5%);
  grid-template-columns: 38% 55%;
  input {
    outline: none;
    border: none;
    text-align: right;
    font-size: 1.8em;
    color: #00000097;
    &::placeholder {
      color: #98a2b3;
    }

    &::-ms-input-placeholder {
      /* Edge 12 -18 */
      color: #98a2b3;
    }
  }
}
.fixedTk {
  @include flexRegular(row, flex-start);
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  p {
    margin-left: 10px;
    color: #000000b4;
  }
  img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
}
.createBtn,
.shareBtn {
  transition: 0.1s ease-in;
  margin-top: 1em;
  @include btnRegular(100%);
}
.shareBtn {
  @include flexRegular(row, center);
  img {
    margin-right: 1em;
  }
}
.backBtn,
.viewBtn {
  margin-top: 1em;
  @include btnOutline(100%);
}

.productFields {
  margin: 1.4em auto 1em auto;
  width: 95%;
  input {
    margin-bottom: 1em;
  }
}
.uploadContainer {
  p {
    font-size: 0.88em;
  }
}
.uploadBx {
  position: relative;
  margin: 0.5em 0 0.8em 0;
  @include flexRegular(column, center);
  border: 1px solid #d0d5dd;
  border-radius: 16px;
  padding: 1em;
  border: 1.5px dashed #d0d5dd;
  //   p {
  //     margin-left: 10px;
  //     color: #000000b4;
  //   }
}

.uploadTxtOne {
  font-weight: 300;
  //font-family: "Inter";
  line-height: 35px;
  color: #475367;
  span {
    //color: $primaryPurple;
    color: $blueMain;
    cursor: pointer;
    font-weight: 500;
  }
}
.uploadTxtTwo {
  font-weight: 200;
  color: #98a2b3;
  padding-bottom: 1em;
  //color: ;
}
.fileImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100px;
  min-height: 100px;
}

// ------ Trade created
.tradeDesc {
  padding: 1em 2em;

  border-bottom: 0.5px solid #d0d5dd;
}
.trImg {
  margin: 1em 0;
  @include flexRegular(column, center);
  img {
    border-radius: 28px;
    object-fit: cover;
    width: 100%;
    max-width: 110px;
    min-height: 90px;
  }
  p {
    color: #1d2739;
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.13em;
  }
}
.tradeStatus {
  @include flexRegular(row, flex-start);
  img {
    margin-right: 0.5em;
  }
  p {
    color: #475367;

    font-weight: 400;
    font-size: 1.13em;
  }
}
.tradeTitle {
  margin: 0.8em 0;
  color: #475367ac;
  span {
    color: #1d2739;
  }
}
.tradeTxt {
  p {
    font-size: 0.98em;
    font-weight: 100;
    color: #667185;
  }
}

.tradeBreakdown {
  padding: 1.5em 2em 1em 2em;
  border-bottom: 0.5px solid #d0d5dd;
}
.breakRow {
  @include flexRegular(row, space-between);
  margin-bottom: 0.5em;
  p {
    &:nth-child(1) {
      color: #98a2b3;
    }
    &:nth-child(2) {
      color: #1d2739;
    }
  }
}
.shareBtns {
  margin-top: 1em;
  padding: 0 2em;
}
// --------- Created
