@import "../styles/mixins";
@import "../styles/variables";

.container {
  background: #fff;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
}
.content {
  @include flexRegular(column, center);
  width: 70%;
  max-width: 1200px;
  margin: 8.5em auto 0 auto;
  padding: 2em 0;
  border: 1px solid #f0f2f5;
  border-radius: 28px;
  padding: 2em;
}
.top {
  width: 100%;
  @include flexRegular(row, space-between);
  h3 {
    font-size: 1.3em;
  }
  p {
    margin-top: 5px;
    color: #98a2b3;
  }
}
.trades {
  width: 100%;
  //background: #f0f2f58a;
  border-radius: 16px;
  margin-top: 1em;
}
.noTrade {
  padding: 3em 0;
  @include flexRegular(column, center);
  img {
    margin: 1em 0;
  }
  h3 {
    font-size: 1.25em;
  }
  p {
    margin: 0.6em auto 1em auto;
    width: 60%;
    text-align: center;
    color: #98a2b3;
  }
}
.mainBtn {
  @include btnRegular(14vw);
  min-width: 135px;
  font-size: 1em;
  //align-self: flex-end;
  //margin-left: 43%;
}
.wrBtn {
  @include btnRegular(14vw);
  min-width: 135px;
  font-size: 1em;
  background: rgb(201, 10, 10);
}
.connBtn {
  div {
    @include btnRegular(14vw);
    @include flexRegular(row, center);
    min-width: 135px;
    font-size: 1em;
  }
}
