@import "../../styles/mixins";
@import "../../styles/variables";

.card {
  border: 1px solid #e4e7ec;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1em;
}
.content {
  padding: 1.5em 1em;
  @include flexRegular(row, space-between);
}
.cardLeft {
  @include flexRegular(row, flex-start);
  svg {
    margin-right: 1em;
  }
}
.tokenInfo {
  p {
    font-size: 0.9em;
    color: #98a2b3;
    font-family: "Helvetica Neue";
  }
  h3 {
    margin-top: 0.85em;
    // font-size: 0.9em;
    color: #475367;
  }
}
.cardRight {
  text-align: right;
  p {
    margin-top: 0.85em;
    font-size: 0.9em;
    color: #98a2b3;
    font-family: "Helvetica Neue";
  }
  h3 {
    // margin-top: 0.85em;
    // font-size: 0.9em;
    color: #475367;
    span {
      color: #98a2b3;
      font-size: 0.7em;
    }
  }
}
