@import "../../styles/mixins";
@import "../../styles/variables";
@keyframes skeleton {
  to {
    opacity: 0.2;
  }
}

.tradeCardSk {
  background: #313131a4;
  //background: #b4b4b4;
  width: 100%;
  height: 200px;
  margin: auto;
  border-radius: 8px;
  animation: skeleton 1.5s ease infinite alternate;
}

.cardSk {
  background: #313131a4;
  //background: #b4b4b4;
  width: 55%;
  height: 60vh;
  //margin: 6em auto;
  margin: 0 auto;
  border-radius: 8px;
  border-radius: 28px;
  animation: skeleton 1.5s ease infinite alternate;
}
